<div class="light-background">
  <mat-toolbar color="primary" class="mb-5">
    <span><h1>Forum Rule Engine Playground</h1></span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      matTooltip="Show help dialog"
      (click)="openHelpDialog()"
    >
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-toolbar>

  <!--- USER SELECTION AND WRITING POSTS  -->
  <div class="columns m-5 is-variable is-8">
    <div class="column content">
      <h2>Select active user</h2>
      <p>
        Liking, disliking, reporting posts; as well as creating new ones will be
        linked to this user's actions.
      </p>
      <mat-button-toggle-group [(ngModel)]="activeUsername">
        <mat-button-toggle
          *ngFor="let user of users"
          [value]="user.username"
          [disabled]="
            user.userLabels.indexOf('SUSPENDED') > -1 ||
            user.userLabels.indexOf('TEMPORARILY_SUSPENDED') > -1
          "
          >{{ user.username }}</mat-button-toggle
        >
      </mat-button-toggle-group>

      <mat-divider></mat-divider>

      <div
        class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center mb-5"
      >
        <h3>Create a new post</h3>
        <button
          mat-raised-button
          color="accent"
          matTooltip="Publish post"
          (click)="createPost()"
          [disabled]="isActiveUserSuspended() || newPostContent == ''"
        >
          Post
        </button>
      </div>
      <mat-form-field class="stretch-width" appearance="fill">
        <mat-label>Write some interesting content here...</mat-label>
        <textarea
          [(ngModel)]="newPostContent"
          color="accent"
          matInput
          placeholder="I always like it when my morning starts with coffee..."
        ></textarea>
      </mat-form-field>

      <mat-divider></mat-divider>

      <!--- TERMINAL  -->
      <div class="terminal-container" id="log-terminal">
        <p *ngFor="let log of logs">
          <span class="timestamp"
            >[{{ log.timestamp | date: "yyyy-MM-dd hh:mm:ss" }}]</span
          >
          {{ log.message }}
        </p>
      </div>
    </div>

    <!--- POSTS BY USERS  -->
    <div class="column content">
      <h2>Posts ({{ posts.length }})</h2>
      <div class="posts-container">
        <mat-card *ngFor="let post of posts">
          <mat-card-title>{{ post.postOwnerId }}</mat-card-title>
          <mat-card-subtitle>{{
            post.timestamp | date: "medium"
          }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ post.postContent }}</p>
            <mat-chip-list>
              <mat-chip
                class="example-box"
                color="accent"
                [selected]="post.postLabels.indexOf('TOP_CONTENT') > -1"
              >
                Top Content
              </mat-chip>

              <mat-chip
                class="example-box"
                color="warn"
                [selected]="post.postLabels.indexOf('POOR_CONTENT') > -1"
              >
                Poor Content
              </mat-chip>

              <mat-chip
                class="example-box"
                color="warn"
                [selected]="post.postLabels.indexOf('HARMFUL') > -1"
              >
                Harmful
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-stroked-button
              [matBadge]="post.likes"
              matBadgeColor="accent"
              color="primary"
              (click)="likePost(post.postId)"
            >
              LIKE
            </button>
            <button
              mat-stroked-button
              [matBadge]="post.dislikes"
              matBadgeColor="accent"
              color="primary"
              (click)="dislikePost(post.postId)"
            >
              DISLIKE
            </button>
            <button
              mat-stroked-button
              [matBadge]="post.reports"
              matBadgeColor="warn"
              color="warn"
              (click)="reportPost(post.postId)"
            >
              REPORT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <!--- USER STATUS  -->
    <div class="column content">
      <h1>User status</h1>
      <mat-card *ngFor="let user of users">
        <mat-card-header>
          <div mat-card-avatar>
            <ngx-avatar [name]="user.name"></ngx-avatar>
          </div>
          <mat-card-title>{{ user.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="user.username == 'Genesis'"
            >"My soul, corrupted by vengeance..."</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="user.username == 'Angeal'"
            >"Embrace your dreams."</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="user.username == 'Sephiroth'"
            >"This planet that is my birthright."</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="user.username == 'Zack'"
            >"To be a hero, you need to have dreams..."</mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="user.username == 'Cloud'"
            >"SOLDIER, First Class"</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content>
          <mat-chip-list>
            <mat-chip
              class="example-box"
              color="accent"
              selected
              *ngIf="user.userLabels.indexOf('TOP_USER') > -1"
            >
              Top User
            </mat-chip>

            <mat-chip
              class="example-box"
              color="accent"
              selected
              *ngIf="user.userLabels.indexOf('COMMUNITY_CONTRIBUTOR') > -1"
            >
              Community Contributor
            </mat-chip>

            <mat-chip
              class="example-box"
              color="warn"
              selected
              *ngIf="user.userLabels.indexOf('POTENTIAL_SPAMMER') > -1"
            >
              Potential Spammer
            </mat-chip>

            <mat-chip
              class="example-box"
              color="warn"
              selected
              *ngIf="user.userLabels.indexOf('SPAMMER') > -1"
            >
              Spammer
            </mat-chip>

            <mat-chip
              class="example-box"
              color="warn"
              selected
              *ngIf="user.userLabels.indexOf('HARMFUL_USER') > -1"
            >
              Harmful User
            </mat-chip>

            <mat-chip
              class="example-box"
              color="warn"
              selected
              *ngIf="user.userLabels.indexOf('TEMPORARILY_SUSPENDED') > -1"
            >
              Temporarily Suspended
            </mat-chip>

            <mat-chip
              class="example-box"
              color="warn"
              selected
              *ngIf="user.userLabels.indexOf('SUSPENDED') > -1"
            >
              Suspended
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
