<div class="content p-3 max-width-700">
  <h3>Help - Forum Rule Engine</h3>
  <p>
    Selecting the <b>active user</b> on the first pannel marks the user in whose
    name you will be performing all following actions. In this example, they are
    quite limited, but enough to explain the funcionalities of our
    <b>Rule Engine</b>.<br /><br />
    These functionalities include writing a new post, liking, disliking and
    reporting other posts (and switching the active user). Be careful not to
    spam, as it can suspend the "spammer" user, preventing them from any
    actions.
    <br /><br />Post and user labels will upadte as you play around with the
    options. The <b>simulated console</b> is there to help you understand which
    rules are triggered and when. <br /><br />You can alwasy reset the system by
    restarting the server Java Application. <br /><br />Have fun! 😄
  </p>

  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>
